# Remote queue broker, for CloudAMQP see
# https://www.cloudamqp.com/docs/rabbitmq-server.html#connect-to-the-instance
PIPO_QUEUE_BROKER_URL=<rabbitmq_broker_auth_url>

# Check how to obtain Discord channel IDs in
# https://support.discord.com/hc/en-us/articles/206346498-Where-can-I-find-my-User-Server-Message-ID#h_01HRSTXPS5FMK2A5SMVSX4JW4E

# Discord channel where bot interaction messages will be sent/moved to
PIPO_CHANNEL=<discord_channel>

# Discord default voice channel where bot will join
PIPO_VOICE_CHANNEL=<discord_voice_channel>

# Create a Discord bot and obtain a token
# check https://github.com/reactiflux/discord-irc/wiki/creating-a-discord-bot-&-getting-a-token
# Discord API token
PIPO_TOKEN=<discord_token>

## Optional
# Opentelemetry
OTEL_EXPORTER_OTLP_ENDPOINT=http://pipo.otel:4317
